.planWrapper {
    background-color: var(--mediumGrey);
    padding: 4% 0;
    font-family: 'Helvetica', 'Arial';
    font-weight: 700;
}
.planTitle, .planDesc, .iconsWrapper {
    text-align: center;
}
.planTitle {
    font-weight: 700;
    font-size: 2.4rem;
    font-size: clamp(1.8rem, 3vw, 2.4rem);
    margin-bottom: -0.3rem;
}
.planDesc {
    font-weight: 400;
    font-size: 1rem;
    font-size: clamp(0.9rem, 3vw, 1rem);
    padding-bottom: 0.5%;
}
.iconsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18%;
    margin: auto;
    padding-bottom: 3%;
}
.cardsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    width: 80%;
    gap: 0.4rem;
}
.card {
    background-color: var(--white);
    max-width: 17rem;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.header {
    height: 11rem;
    margin: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--lightGrey2);
}
.free, .onetime {
    width: fit-content;
    padding: 2% 4%;
    border-radius: 4px;
    font-size: 0.9rem;
}
.free {
    background-color: var(--mediumBlue);
    color: var(--white);
    margin-bottom: 5%;
}
.onetime {
    color: var(--mediumBlue);
    border: 1px solid var(--mediumBlue);
}
.planName {
    font-size: 1.5rem;
    margin-bottom: -5%;
}
.price, .accounts {
    font-weight: 400;
}
.contentWrapper {
    height: 20rem;
    width: 17rem;
    margin-top: -1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 3px solid var(--mediumGrey);
    box-shadow: 0px 10px 12px var(--mediumGrey);
}
.content {
    padding: 0 20%;
 
}
.item {
    width: 100%;
    font-weight: 400;
    padding: 0.7rem;
    margin-left: -10%;
    list-style-image: url(../../app/assets/images/check.png);
    position: relative;
}
.item p {
    margin-top: -2%;
    position: absolute;
}
.button {
    margin: 0 auto;
}
.footer {
    height: 3rem;
    padding: 2% 6%;
}
.footer, .footer a {
    color: var(--darkGrey);
    font-size: 0.75rem;
    font-weight: 400;
}
.learnMore {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    margin: 4% auto;
    padding: 0.2% 1%;
    max-width: 45rem;
    min-height: 5rem;
    box-shadow: 0 0 6px 2px var(--lightGrey2);
    border-radius: 10px;
}
.learnMoreText {
    font-size: 1.4rem;
    font-size: clamp(1rem, 3vw ,1.4rem);
}
.learnMoreBtn {
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
    font-weight: 700;
    font-size: clamp(0.6rem, 3vw ,1rem);
}

@media (max-width:600px) {
    .cardsWrapper {
        justify-content: center;
    }
    .learnMore {
        text-align: center;
        justify-content: center;
        padding: 3% 1%;
    }
}
@media (min-width:600px) and (max-width: 1200px) {
    .cardsWrapper {
        justify-content: space-evenly;
    }
    .learnMore {
        text-align: center;
        justify-content: center;
        padding: 3% 1%;
    }
}

