.btn {
    border: none;
    border-radius: 50px;
    padding: 1.3% 2.3%;
    margin-left: 1%;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    font-size: 0.8rem;
    font-weight: 600;
}
