.btn, .primary, .secondary, .primary-wide {
    border: none;
    border-radius: 500px;
    height: 3.2rem;
    width: 10rem;
    margin-left: 1%;
    cursor: pointer;
    color: var(--white);
    font-size: 0.8rem;
    font-weight: 600;
}
.primary, .primary-wide {
    background-color: var(--black);
}
.secondary {
    background-color: transparent;
    border: 2px solid var(--white);
}
.primary-wide {
    width: 15rem;
}


