.free-premium-month {
    background-color: var(--mediumBlue);
    text-align: center;
    color: var(--white);
    height: 20rem;
    padding: 5rem 0;
}
.free-premium-month-title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 2.5%;
}
.free-premium-month-description-1 {
    font-size: 1.5rem;
    margin-bottom: 2.5%;
}
.free-premium-month-description-2 {
    font-size: 0.7rem;
    margin-top: 2.5%;
}
.free-premium-month-button1 {
    background-color: pink;
    font-size: 30px;
}

.btn {
    border: none;
    border-radius: 50px;
    padding: 1.3% 2.3%;
    margin-left: 1%;
    color: var(--white);
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}
.free-premium-month-button1 {
    background-color: var(--black);
}
.free-premium-month-button2 {
    background-color: var(--mediumBlue);
    border: 1px solid var(--white);
}
.underlined {
    text-decoration: underline;
}