.footer {
    height: 30rem;
    padding: 4% 7%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    font-family: 'Helvetica', 'Arial';
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menuList {
    
}
.title {
    
}
.topMenu {
    display: flex;
    gap: 2rem;
}
.menuCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item {
    padding-bottom: 20%;
}
.menuWrapper {
    display: flex;
    gap: 2rem;
    
}
.menuList li {
    list-style: none;
}
.menuList li a {
    color: var(--white);
    text-decoration: none;
}
.bottomMenu {

}
.legalMenuWrapper {
    display: flex;
    justify-content: space-around;
}
.legalItem {
    list-style: none;
}
.legalItem a {
    color: var(--white);
    text-decoration: none;
}
.copyrightsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; 
     
}
.icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.icons svg {
    background-color: var(--darkGrey2);
    padding: 8%;
    border-radius: 50%;
}
